<div
    class="max-w-full w-full h-auto bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 my-4"
>
    <h1
        class="text-xl font-semibold text-gray-800 dark:text-gray-200 text-center"
    >
        Répartition des Paquets
    </h1>
    <!-- Chart Container -->
    <div class="relative" style="height: 400px">
        <div id="packetDistributionChart" style="height: 100%"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var options = {
        series: [
          {{ packets.statistics().total_other }},
          {{ packets.statistics().total_cam }},
          {{ packets.statistics().total_denm }}
        ],
        chart: {
          type: 'donut',
          height: '100%'
        },
        labels: ['Autres', 'CAM', 'DENM'],
        colors: ['#FF4560', '#008FFB', '#00E396'],
        legend: {
          position: 'bottom'
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }],
        dataLabels: {
          enabled: true
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val + ' Paquets'
            }
          }
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  show: true,
                  label: 'Total',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                  }
                }
              }
            }
          }
        }
      };

      var chart = new ApexCharts(document.querySelector("#packetDistributionChart"), options);
      chart.render();
    });
</script>
